button {
  width: 140px;
  height: 40px;


  border: black solid 1px;
  border-radius: 8px;

  cursor: pointer;

  font-size: 16px;
  font-weight: 560;

  transition: all 0.2s ease;

  background-color:   #3d2297;
  color: #fcfcfd;

}
  button:hover {
    transform: translateY(-3px);
    opacity: 0.9;
  }

  button:active {
    transform: translateY(3px);
  }

  .logo{
    color:   #4f00c9
  }
